BasedOnStyle: LLVM
DerivePointerAlignment: false
PointerAlignment: Left
BinPackArguments: false
AlwaysBreakTemplateDeclarations: Yes
AllowShortLoopsOnASingleLine: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
MaxEmptyLinesToKeep: 1
ReflowComments:  true
SortIncludes: true
SortUsingDeclarations: false
NamespaceIndentation: All
SpaceAfterTemplateKeyword: false
Standard: c++20
